/* p{
    color: blue;
} */

/* 1. Universal Selector */
/* * {
    color: red;
} */



/* 2. Element Selector */
/* p {
    color: blue;
} */

/* h5{
    color: blue
} */



/* 3. Selector List */
/* p, h5, h4{
    color: red;
} */



/* 4. Class Selector */
/* .dummyEx{
    color: aqua;
} */


/* 5. ID Selector */
/* #idEx{
    color: red;
} */



 /* 6. Descendant Selector  */
 /* div p {
    color: red;
 } */


 /* 7. Direct Child Selector  */
 /* div > p{
    color: red;
 } */


 /* Box Model */
 span{
    border: 2px solid black;

    /* padding */
    /* padding-left: 10px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 5px; */

    /* padding: 10px; */

    /* top, right, bottom, left */
    /* padding: 15px 20px 0 10px; */


    /* padding: 10px 20px; */


    /* margin */
    margin: 25px;
 }